/*
- Look up the CSS `background-image` property to learn how to use the provided `record.png` as the background image on your page with a relative path.
- Look up CSS `background-repeat` to learn how to fill the body of the page with a repeating image.
- Look up CSS `margin` and `padding`. 
  - Give the `body` a margin of `0`. (This removes the whitespace around the edges of the page.) 
  - Give the `main` padding of `1em`. (Curious about `em`? Look up CSS units.)
  */
header{
    background-color: darkgreen;
    color: lightgreen;
    text-align: center;
  };

main{
    background-color: lightgrey;
    padding: 1em;
};

body{
    margin: 0px 0px 0px;
    background-image: url("angry-cat.jpeg")
};
